<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{it.title}}</title>
    <meta name="description" content="{{it.title}}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
      {{it.style | safe}}
    </style>
    <link rel="stylesheet" href="/rescale.css">
    <script src="/controls.js" defer></script>
  </head>
  <body id="slides-body">
    {{it.body | safe}}
  </body>
</html>